body {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.icegif.com%2Frain-11%2F&psig=AOvVaw09dB426oJsNJPYQDk11EMZ&ust=1727490275624000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCNihw_OI4ogDFQAAAAAdAAAAABAE'); /* Path to your image in the public folder */
  background-size: cover; /* Scale the image to cover the entire background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Fix the background image in place */
  background-position: center; /* Center the image */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Optional: Set a font family */
}
.hamburger-icon {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

}

.line {
  width: 100%;
  height: 4px;
  background-color: rgb(9, 26, 209);
  transition: transform 0.3s ease, opacity 0.3s ease;

}

.line.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.line.open:nth-child(2) {
  opacity: 0;
}
.line.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background-color: rgb(22, 0, 144);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.menu.open {
  transform: translateX(0);
}

.menu ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.menu ul li {
  margin: 20px 0;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
}
h1 {
  text-align: center; 
  text-decoration: none;
  color: rgb(41, 0, 177);
  font-size: 101px;
  font-weight: bold;
  transition: color 0.7s ease; 
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;


}
h1:hover {
  color: red; 
}

.hamburger-icon:hover {
  color: red; 
}

@keyframes example {
  from {color: rgb(255, 0, 212);}
  to {color: rgb(0, 18, 219);}
  to {color: rgb(150, 0, 220);}
}


.table-container {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #f9f9f9;
}